@import "antd/dist/antd.css";

img {
  width: 150px;
}

.site-page-header {
  display: flex;
  justify-content: flex-end;
  /* background-color: #1890ff; */
  padding-top: 25px;
  width: 100vw;
}

.title {
  color: #fff;
  position: absolute;
  top: 0.5%;
  left: 50%;
  letter-spacing: 5px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}
